@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: white;
}

.projects {
    display: grid;
    grid-auto-rows: 280px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.zoom:hover {
    -moz-box-shadow: 0 0 20px white;
    -webkit-box-shadow: 0 0 20px white;
    box-shadow: 0 0 20px #ccc;
}

#typing-text {
    line-height: 120%;
    overflow: hidden;
    padding-right: 2px;
    border-right: 3px solid orange;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    width: 0;
    animation: 
        typing 2s steps(18) forwards,
        blinking 1s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinking {
    50% { border-color: transparent; }
}

@media (max-width: 468px) {
    .projects {
        grid-auto-rows: 225px;
    }
}

.hidden-project {
    opacity: 0;
    /* filter: blur(5px); */
    transform: translateX(-10%);
    transition: all 1s;
}

.show-project {
    /* filter: blur(0); */
    transform: translateX(0%);
    opacity: 1;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-pic {
    transition: all 1s;
}

#profile-pic:hover {
    transform: scale(1.05);
}