@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.active {
    color: white;
}

.projects {
    display: grid;
    grid-auto-rows: 280px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.zoom {
    -moz-box-shadow: 0 0 15px #1e293b;
    -webkit-box-shadow: 0 0 15px #1e293b;
    box-shadow: 0 0 15px #1e293b;
}

.zoom:hover {
    transform: scale(1.05);
    -moz-box-shadow: 0 0 15px #d1d5db;
    -webkit-box-shadow: 0 0 15px #d1d5db;
    box-shadow: 0 0 15px #d1d5db;
}

#typing-text {
    line-height: 120%;
    overflow: hidden;
    padding-right: 2px;
    border-right: 3px solid orange;
    white-space: nowrap;
    font-size: 45px;
    font-weight: bold;
    width: 0;
    animation: 
        typing 2s steps(18) forwards,
        blinking 1s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinking {
    50% { border-color: transparent; }
}

@media (max-width: 468px) {
    .projects {
        grid-auto-rows: 225px;
    }

    #typing-text {
        font-size: 28px;
    }
}

.hidden-project {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1s;
}

.show-project {
    transform: translateX(0%);
    opacity: 1;
}

.hidden-description {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1s;
}

.show-description {
    transform: translateY(0%);
    opacity: 1;
}

.hidden-logo {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.show-logo {
    transform: translateX(0%);
    opacity: 1;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows path {
	stroke: gainsboro;
	fill: transparent;
	stroke-width: 4px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}
.emoji {
    font-size: 200px;
}

.show-delay {
    transition-delay: 200ms;
}

.full-screen {
    height: 100vh;
    height: 100dvh;
}